body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f9;
}

/* Top Bar */
.topbar {
    background: #2ecc71;
    padding: 15px 40px;
    color: white;
    font-weight: bold;
}

/* Main */
.main {
    padding: 40px;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-green {
    background: #2ecc71;
    color: white;
    padding: 8px 15px;
    margin-left: 50px;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    cursor: pointer;;
}

.btn-grey {
    background: #ccc;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

/* Stats */
.stats {
    display: flex;
    gap: 20px;
    margin: 20px 0;
}

.stat {
    background: white;
    padding: 20px;
    border-radius: 8px;
    flex: 1;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* Table */
.table-box {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #2c3e50;
    color: white;
    padding: 12px;
}

td {
    padding: 12px;
    text-align: center;
}

tr:nth-child(even) {
    background: #f2f2f2;
}

/* Form Page */
.form-container {
    width: 500px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

form label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

form input,
form select,
form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

.radio-group,
.checkbox-group {
    display: flex;
    gap: 15px;
    margin-top: 5px;
}

.date-group {
    display: flex;
    gap: 10px;
}

.avatars {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.blue { background: #3498db; }
.green { background: #2ecc71; }
.red { background: #e74c3c; }
.yellow { background: #f1c40f; }
.purple { background: #9b59b6; }

.form-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.stat span {
    font-size: 14px;
    color: #555;
}

.stat h3 {
    margin-top: 8px;
}

.table-box a {
    margin: 0 5px;
    font-size: 16px;
}
.header-actions {
    display: flex;
    gap: 15px;
    align-items: center;
}

.search-box {
    position: relative;
}

.search-box input {
    padding: 8px 12px 8px 35px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-box i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
}

.actions {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.icon-btn {
    background: #dcdcdc;
    padding: 8px 10px;
    border-radius: 6px;
    color: #333;
}

.icon-btn.edit i {
    color: blue;
}

.icon-btn.delete i {
    color: red;
}
